/*-- scss:defaults --*/
$presentation-title-slide-text-align: left;
$presentation-h1-font-size: 1.5em;
$presentation-h2-font-size: 1em;

/* Sass Variables: https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables*/